<a href="https://colab.research.google.com/github/benuklemi/team-7-project/blob/main/group7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls

drive  sample_data

In [ ]:

import pandas as pd

In [ ]:
file_path ="/content/drive/MyDrive/Car_sales.csv"

In [ ]:

#Import the car sales dataset using Pandas.
df = pd.read_csv(file_path)

In [ ]:

#Display the first 5 rows of the data
df.head(6)

In [ ]:

#Display the last 10 rows of the data
df.tail(10)

In [ ]:
#How many rows and columns are present in the dataset?
df.shape

(157, 16)

In [ ]:
#Use the `info()` method to display information about the dataset, such as data types and non-null counts.
df.info()

In [ ]:
type(df)

In [ ]:
df.isnull().sum()

In [ ]:
df.notna().sum()

In [ ]:
#What are the data types of each column? Are the data types for each column appropriate? If not change the data types of some columns to what they are supposed to be

df.dtypes

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.columns.values[3] ='year_resale_value'

In [ ]:
df.head()

Fill the missing values in the year_resale_value with the average year_resale_value, then drop all other rows with missing values in the dataset

In [ ]:
df.rename(columns={'_year_resale_value': 'year_resale_value'}, inplace=True)

In [ ]:
df.head()

In [ ]:
df['year_resale_value'].isnull()

In [ ]:
mean_sales = df['year_resale_value'].mean()

In [ ]:
df['year_resale_value'].fillna(mean_sales, inplace=True)

In [ ]:
df['year_resale_value']

In [ ]:
df.dropna()

In [ ]:
df.dtypes

In [ ]:
means = df.mean(numeric_only=True)

In [ ]:
means

In [ ]:
median = df.median(numeric_only=True)

In [ ]:
deviation= df.std(numeric_only=True)

In [ ]:
df = df.drop_duplicates()

Specific Analysis:

Find out the most common car brand in the dataset using `value_counts()`
Which manufacturer has the highest and lowest average sales volume?
What is the distribution of car prices in the dataset?
Plot a correlation matrix to see if different numerical variables in the dataset correlate with each other
Plot a histogram of the car prices using Matplotlib.
Plot the relationship between price and latest launch year.
Group cars by manufacturers and analyze their average price and fuel efficiency.
Can you identify and visualize the most popular car brands?
Which car model has the highest resale value compared to its initial price?
Find the top 3 fuel-efficient cars with an engine size above 2.5 liters.
Which Lexus model has the highest horsepower?

In [ ]:
df

In [ ]:
#most common brand of the Card
car_brand = df['Manufacturer'].value_counts()

In [ ]:
car_brand

Which manufacturer has the highest and lowest average sales volume?

In [ ]:
most_common_brand = car_brand.idxmax()

In [ ]:
most_common_brand

'Dodge'

In [ ]:
least_common_brand = car_brand.idxmin()

In [ ]:
least_common_brand

'Jaguar'

In [ ]:
price_distribution = df['Price_in_thousands'].describe()

In [ ]:
price_distribution

Plot a correlation matrix to see if different numerical variables in the dataset correlate with each other

In [ ]:
#select the numeric type first

numeric_df = df.select_dtypes(include=['float64', 'int64'])
corr_matrix = numeric_df.corr()

In [ ]:
corr_matrix

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Correlation Matrix of Numerical Variables in the dataset')
plt.show()

Plot a histogram of the car prices using Matplotlib

In [ ]:
import matplotlib.pyplot as plt

df['Price_in_thousands'].hist(bins=30, edgecolor='black')
plt.title('Distribution of Car Prices')
plt.xlabel('Price in Thousands')
plt.ylabel('Frequency')
plt.show()

Plot the relationship between price and latest launch year.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create a scatter plot to visualize the relationship between price and latest launch year
plt.figure(figsize=(10, 6))

sns.scatterplot(x='Latest_Launch', y='Price_in_thousands', data=df)

# Add title and labels
plt.title('Relationship Between Price and Latest Launch Year')
plt.xlabel('Latest Launch')
plt.ylabel('Price in Thousands')

# Show the plot
plt.show()

Group cars by manufacturers and analyze their average price and fuel efficiency.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Group by manufacturer and calculate the mean price and fuel efficiency
manufacturer_analysis = df.groupby('Manufacturer').agg({
    'Price_in_thousands': 'mean',
    'Fuel_efficiency': 'mean'
}).reset_index()

# Display the result
print(manufacturer_analysis)

# Plotting the average price and fuel efficiency per manufacturer
fig, ax1 = plt.subplots(figsize=(12, 6))

# Plotting the average price
color = 'tab:blue'
ax1.set_xlabel('Manufacturer')
ax1.set_ylabel('Average Price', color=color)
ax1.bar(manufacturer_analysis['Manufacturer'], manufacturer_analysis['Price_in_thousands'], color=color)
ax1.tick_params(axis='y', labelcolor=color)

# Plotting the fuel efficiency on the same graph with a different axis
ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
color = 'tab:red'
ax2.set_ylabel('Fuel Efficiency (mpg)', color=color)  # we already handled the x-label with ax1
ax2.plot(manufacturer_analysis['Manufacturer'], manufacturer_analysis['Fuel_efficiency'], color=color, marker='o')
ax2.tick_params(axis='y', labelcolor=color)

# Rotate x-axis labels for better readability
plt.xticks(rotation=90)

# Add title
plt.title('Average Price and Fuel Efficiency by Manufacturer')

# Show the plot
plt.tight_layout()
plt.show()

Can you identify and visualize the most popular car brands?

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Count the number of cars for each brand
car_brand_counts = df['Manufacturer'].value_counts()

# Plot the top 10 most popular car brands
plt.figure(figsize=(10, 6))

# Bar plot for the most popular car brands
sns.barplot(x=car_brand_counts.index[:10], y=car_brand_counts.values[:10], palette='viridis')

# Add title and labels
plt.title('Top 10 Most Popular Car Brands')
plt.xlabel('Car Brand')
plt.ylabel('Number of Cars')

# Rotate x-axis labels for better readability
plt.xticks(rotation=45)

# Show the plot
plt.tight_layout()
plt.show()

Which car model has the highest resale value compared to its initial price?

In [ ]:
df.info()

In [ ]:
# Create a new column for the resale to initial price ratio
df['resale_value_ratio'] = df['year_resale_value'] / df['Sales_in_thousands']

# Find the car model with the highest resale value ratio
highest_resale_car = df.loc[df['resale_value_ratio'].idxmax()]

# Display the car model and details
print(f"Car model with the highest resale value ratio:\n{highest_resale_car[['Model', 'resale_value_ratio', 'year_resale_value', 'Sales_in_thousands']]}")

Find the top 3 fuel-efficient cars with an engine size above 2.5 liters.

In [ ]:
# Filter cars with engine size greater than 2.5 liters
filtered_cars = df[df['Engine_size'] > 2.5]

# Sort by fuel efficiency in descending order
top_fuel_efficient_cars = filtered_cars.sort_values(by='Fuel_efficiency', ascending=False).head(3)

# Display the top 3 most fuel-efficient cars
print("The top 3 most fuel-efficient cars with engine size above 2.5 liters:")
print(top_fuel_efficient_cars[['Model', 'Engine_size', 'Fuel_efficiency']])

Which Lexus model has the highest horsepower?

In [ ]:
# Filter the dataset for Lexus cars
lexus_cars = df[df['Manufacturer'] == 'Lexus']

# Find the Lexus model with the highest horsepower
lexus_highest_horsepower = lexus_cars.loc[lexus_cars['Horsepower'].idxmax()]

# Display the model and horsepower
print(f"Lexus model with the highest horsepower:\n{lexus_highest_horsepower[['Model', 'Horsepower']]}")

Lexus model with the highest horsepower:
Model         GS400
Horsepower    300.0
Name: 72, dtype: object